# Global SPMS Backend Environment Configuration
DB_USER=root
DB_PASSWORD=root
DB_HOST=localhost

# Microservice Database Names
USER_DB_NAME=spms_user_db
PARKING_DB_NAME=spms_parking_db
VEHICLE_DB_NAME=spms_vehicle_db
PAYMENT_DB_NAME=spms_payment_db
BOOKING_DB_NAME=spms_booking_db

# Security
JWT_SECRET=spmsSuperSecretKeyForJwtAuthenticationMustBeAtLeast256BitsLong2026!
JWT_EXPIRATION=86400000

# Eureka Discovery Server
EUREKA_SERVER_URL=http://localhost:8761/eureka/
